{% extends "base.html" %}
{% block styles %}
{{ super() }}

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}
<h1 class="title">
  欢迎来到我的日程！
</h1>
<h2 class="subtitle">
  规划你的每一天
</h2>
    <p>Plan your days</p>


    <div class="container">
        <div class="center-block" style="margin-bottom:0">
            <h1>欢迎来到我的日程！</h1>
            <p>规划你的每一天</p>
            <p>Plan your days</p>
        </div>
        <div class="row" align="center">
            <div class="col-lg-offset-6">
                <h3>增删改查</h3>
                    <p>在年、月、日、周随意添加日程</p>
                    <p>可以根据关键字、DDL查找日程</p>
            </div>
            <div class="col-lg-offset-6">
              <h3>数据加密存储</h3>
              <p>一人一号，保护隐私</p>
              <p></p>
            </div>
            <div class="col-lg-offset-6">
              <h3>界面优美，操作简单</h3>
                <p>零成本入门使用</p>
                <p>每一天都像彩虹🌈一样美丽</p>
            </div>
        </div>
    </div>
{% endblock %}